#!/bin/bash
set -euo pipefail

# Download binaries and copy to /usr/local/bin
pushd $(mktemp -d)
curl -sfLo teleport.tar.gz https://get.gravitational.com/teleport-${teleport_version}-linux-amd64-bin.tar.gz
tar xzf teleport.tar.gz
./teleport/install
popd

echo "Create main teleport config file"

cat << EOF > /etc/teleport.yaml
teleport:
  nodename: ${nodename}
  data_dir: /var/lib/teleport
  pid_file: /var/run/teleport.pid
  auth_token: ${cluster_token}
  auth_servers:
  - ${auth_domain}:3025
  connection_limits:
    max_connections: 100
    max_users: 50
  log:
    output: stderr
    severity: INFO
auth_service:
  enabled: "no"
ssh_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:3022
  labels:
    app: teleport-proxy
  commands:
  - name: hostname
    command: [/usr/bin/hostname]
    period: 1m0s
proxy_service:
  enabled: "no"
EOF

echo "Create systemd unit file"

cat << EOF > /etc/systemd/system/teleport.service
[Unit]
Description=Teleport SSH Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/teleport start --config=/etc/teleport.yaml --diag-addr=0.0.0.0:3434 --insecure-no-tls
ExecReload=/bin/kill -HUP \$MAINPID
PIDFile=/var/run/teleport/teleport.pid
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
EOF

# Start daemon and endure through restarts
systemctl enable --now teleport

echo "Teleport install complete"