#!/bin/bash
set -euo pipefail

# Stop the local node service
systemctl disable --now teleport

# Start daemon and endure through restarts
systemctl enable --now teleport_proxy.service

echo "Teleport install complete"