#!/usr/bin/env bash
set -euo pipefail

eval $(aws ecr get-login --region=us-east-1 --no-include-email)

docker pull ${nginx_image}
docker run -d --restart=unless-stopped \
  --name nginx \
%{ for port in ports ~}
  -p ${port}:${port} \
%{ endfor ~}
  ${nginx_image}
