[
  {
    "cpu": ${cpu_size},
    "essential": true,
    "image": "${image}",
    "environment": ${environment_variables},
    "secrets": ${secrets},
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${awslogs-group}",
        "awslogs-region": "${awslogs-region}",
        "awslogs-stream-prefix": "${awslogs-stream-prefix}"
      }
    },
    "memory": ${memory_size},
    "mountPoints": [],
    "name": "${name}",
    "portMappings": [
      {
        "containerPort": ${port},
        "hostPort": ${port},
        "protocol": "tcp"
      }
    ],
    "volumesFrom": []
  }
]
